<div class="container text-center">
    <div class="col-12 m-3">
        <h2>Bienvenido </h2>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h1>Apple</h1>
        <hr>
        <div class="card text-white bg-success mb-3" style="width: 100%;">
            <div class="card-header">Apple</div>
            <div class="card-body">
                <h5 class="card-title">About</h5>
                <p>Listado de Productos Apple: Sku, Name, Stock</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <h1>Cisco</h1>
        <hr>
        <div class="card text-white bg-danger mb-3" style="width: 100%;">
            <div class="card-header">Cisco</div>
            <div class="card-body">
                <h5 class="card-title">About</h5>
                <p>Listado de Productos Cisco: Sku, Name, Stock</p>
            </div>
        </div>
        
    </div>
    <div class="col-4">
        <h1>Go Pro</h1>
        <hr>
        <div class="card text-white bg-danger mb-3" style="width: 100%;">
            <div class="card-header">Go Pro</div>
            <div class="card-body">
                <h5 class="card-title">About</h5>
                <p>Listado de Productos Go Pro: <span> Sku, Name, Stock</span></p>
            </div>
        </div>
        
    </div>
</div>
